SERVER_PORT=3001
SERVER_HOST=0.0.0.0
DATABASE_URL=mongodb://localhost:27017/scout-gateway
ADMIN_SECRET=
JWT_SECRET=
FORWARD_SECRET=
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=
EMAIL_TO=
REPLY_TO_EMAIL=reply@scout.gowtham.city
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
